AppQuanLy/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DangNhapAppWinForm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DangNhapAppWinFormResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DangNhapAppWinFormResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListUser_BE">
        <s:complexType />
      </s:element>
      <s:element name="GetListUser_BEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListUser_BEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUser_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_old" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditUser_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddUser_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUser_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteUser_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListHotel_BE">
        <s:complexType />
      </s:element>
      <s:element name="GetListHotel_BEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListHotel_BEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHotel_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHotel_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditHotel_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_old" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditHotel_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteHotel_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHotel_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListHomestay_BE">
        <s:complexType />
      </s:element>
      <s:element name="GetListHomestay_BEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListHomestay_BEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHomestay_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddHomestay_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="EditHomestay_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id_old" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditHomestay_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteHomestay_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteHomestay_BEResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetListBooking_BE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListBooking_BEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListBooking_BEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DangNhapAppWinFormSoapIn">
    <wsdl:part name="parameters" element="tns:DangNhapAppWinForm" />
  </wsdl:message>
  <wsdl:message name="DangNhapAppWinFormSoapOut">
    <wsdl:part name="parameters" element="tns:DangNhapAppWinFormResponse" />
  </wsdl:message>
  <wsdl:message name="GetListUser_BESoapIn">
    <wsdl:part name="parameters" element="tns:GetListUser_BE" />
  </wsdl:message>
  <wsdl:message name="GetListUser_BESoapOut">
    <wsdl:part name="parameters" element="tns:GetListUser_BEResponse" />
  </wsdl:message>
  <wsdl:message name="EditUser_BESoapIn">
    <wsdl:part name="parameters" element="tns:EditUser_BE" />
  </wsdl:message>
  <wsdl:message name="EditUser_BESoapOut">
    <wsdl:part name="parameters" element="tns:EditUser_BEResponse" />
  </wsdl:message>
  <wsdl:message name="AddUser_BESoapIn">
    <wsdl:part name="parameters" element="tns:AddUser_BE" />
  </wsdl:message>
  <wsdl:message name="AddUser_BESoapOut">
    <wsdl:part name="parameters" element="tns:AddUser_BEResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUser_BESoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser_BE" />
  </wsdl:message>
  <wsdl:message name="DeleteUser_BESoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUser_BEResponse" />
  </wsdl:message>
  <wsdl:message name="GetListHotel_BESoapIn">
    <wsdl:part name="parameters" element="tns:GetListHotel_BE" />
  </wsdl:message>
  <wsdl:message name="GetListHotel_BESoapOut">
    <wsdl:part name="parameters" element="tns:GetListHotel_BEResponse" />
  </wsdl:message>
  <wsdl:message name="AddHotel_BESoapIn">
    <wsdl:part name="parameters" element="tns:AddHotel_BE" />
  </wsdl:message>
  <wsdl:message name="AddHotel_BESoapOut">
    <wsdl:part name="parameters" element="tns:AddHotel_BEResponse" />
  </wsdl:message>
  <wsdl:message name="EditHotel_BESoapIn">
    <wsdl:part name="parameters" element="tns:EditHotel_BE" />
  </wsdl:message>
  <wsdl:message name="EditHotel_BESoapOut">
    <wsdl:part name="parameters" element="tns:EditHotel_BEResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteHotel_BESoapIn">
    <wsdl:part name="parameters" element="tns:DeleteHotel_BE" />
  </wsdl:message>
  <wsdl:message name="DeleteHotel_BESoapOut">
    <wsdl:part name="parameters" element="tns:DeleteHotel_BEResponse" />
  </wsdl:message>
  <wsdl:message name="GetListHomestay_BESoapIn">
    <wsdl:part name="parameters" element="tns:GetListHomestay_BE" />
  </wsdl:message>
  <wsdl:message name="GetListHomestay_BESoapOut">
    <wsdl:part name="parameters" element="tns:GetListHomestay_BEResponse" />
  </wsdl:message>
  <wsdl:message name="AddHomestay_BESoapIn">
    <wsdl:part name="parameters" element="tns:AddHomestay_BE" />
  </wsdl:message>
  <wsdl:message name="AddHomestay_BESoapOut">
    <wsdl:part name="parameters" element="tns:AddHomestay_BEResponse" />
  </wsdl:message>
  <wsdl:message name="EditHomestay_BESoapIn">
    <wsdl:part name="parameters" element="tns:EditHomestay_BE" />
  </wsdl:message>
  <wsdl:message name="EditHomestay_BESoapOut">
    <wsdl:part name="parameters" element="tns:EditHomestay_BEResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteHomestay_BESoapIn">
    <wsdl:part name="parameters" element="tns:DeleteHomestay_BE" />
  </wsdl:message>
  <wsdl:message name="DeleteHomestay_BESoapOut">
    <wsdl:part name="parameters" element="tns:DeleteHomestay_BEResponse" />
  </wsdl:message>
  <wsdl:message name="GetListBooking_BESoapIn">
    <wsdl:part name="parameters" element="tns:GetListBooking_BE" />
  </wsdl:message>
  <wsdl:message name="GetListBooking_BESoapOut">
    <wsdl:part name="parameters" element="tns:GetListBooking_BEResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="DangNhapAppWinForm">
      <wsdl:input message="tns:DangNhapAppWinFormSoapIn" />
      <wsdl:output message="tns:DangNhapAppWinFormSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListUser_BE">
      <wsdl:input message="tns:GetListUser_BESoapIn" />
      <wsdl:output message="tns:GetListUser_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditUser_BE">
      <wsdl:input message="tns:EditUser_BESoapIn" />
      <wsdl:output message="tns:EditUser_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUser_BE">
      <wsdl:input message="tns:AddUser_BESoapIn" />
      <wsdl:output message="tns:AddUser_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser_BE">
      <wsdl:input message="tns:DeleteUser_BESoapIn" />
      <wsdl:output message="tns:DeleteUser_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListHotel_BE">
      <wsdl:input message="tns:GetListHotel_BESoapIn" />
      <wsdl:output message="tns:GetListHotel_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHotel_BE">
      <wsdl:input message="tns:AddHotel_BESoapIn" />
      <wsdl:output message="tns:AddHotel_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditHotel_BE">
      <wsdl:input message="tns:EditHotel_BESoapIn" />
      <wsdl:output message="tns:EditHotel_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHotel_BE">
      <wsdl:input message="tns:DeleteHotel_BESoapIn" />
      <wsdl:output message="tns:DeleteHotel_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListHomestay_BE">
      <wsdl:input message="tns:GetListHomestay_BESoapIn" />
      <wsdl:output message="tns:GetListHomestay_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddHomestay_BE">
      <wsdl:input message="tns:AddHomestay_BESoapIn" />
      <wsdl:output message="tns:AddHomestay_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditHomestay_BE">
      <wsdl:input message="tns:EditHomestay_BESoapIn" />
      <wsdl:output message="tns:EditHomestay_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteHomestay_BE">
      <wsdl:input message="tns:DeleteHomestay_BESoapIn" />
      <wsdl:output message="tns:DeleteHomestay_BESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetListBooking_BE">
      <wsdl:input message="tns:GetListBooking_BESoapIn" />
      <wsdl:output message="tns:GetListBooking_BESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DangNhapAppWinForm">
      <soap:operation soapAction="http://tempuri.org/DangNhapAppWinForm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUser_BE">
      <soap:operation soapAction="http://tempuri.org/GetListUser_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser_BE">
      <soap:operation soapAction="http://tempuri.org/EditUser_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser_BE">
      <soap:operation soapAction="http://tempuri.org/AddUser_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser_BE">
      <soap:operation soapAction="http://tempuri.org/DeleteUser_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListHotel_BE">
      <soap:operation soapAction="http://tempuri.org/GetListHotel_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHotel_BE">
      <soap:operation soapAction="http://tempuri.org/AddHotel_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHotel_BE">
      <soap:operation soapAction="http://tempuri.org/EditHotel_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHotel_BE">
      <soap:operation soapAction="http://tempuri.org/DeleteHotel_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListHomestay_BE">
      <soap:operation soapAction="http://tempuri.org/GetListHomestay_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomestay_BE">
      <soap:operation soapAction="http://tempuri.org/AddHomestay_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHomestay_BE">
      <soap:operation soapAction="http://tempuri.org/EditHomestay_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHomestay_BE">
      <soap:operation soapAction="http://tempuri.org/DeleteHomestay_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBooking_BE">
      <soap:operation soapAction="http://tempuri.org/GetListBooking_BE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DangNhapAppWinForm">
      <soap12:operation soapAction="http://tempuri.org/DangNhapAppWinForm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListUser_BE">
      <soap12:operation soapAction="http://tempuri.org/GetListUser_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser_BE">
      <soap12:operation soapAction="http://tempuri.org/EditUser_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser_BE">
      <soap12:operation soapAction="http://tempuri.org/AddUser_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser_BE">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListHotel_BE">
      <soap12:operation soapAction="http://tempuri.org/GetListHotel_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHotel_BE">
      <soap12:operation soapAction="http://tempuri.org/AddHotel_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHotel_BE">
      <soap12:operation soapAction="http://tempuri.org/EditHotel_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHotel_BE">
      <soap12:operation soapAction="http://tempuri.org/DeleteHotel_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListHomestay_BE">
      <soap12:operation soapAction="http://tempuri.org/GetListHomestay_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHomestay_BE">
      <soap12:operation soapAction="http://tempuri.org/AddHomestay_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditHomestay_BE">
      <soap12:operation soapAction="http://tempuri.org/EditHomestay_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteHomestay_BE">
      <soap12:operation soapAction="http://tempuri.org/DeleteHomestay_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListBooking_BE">
      <soap12:operation soapAction="http://tempuri.org/GetListBooking_BE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44363/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44363/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>